project:
  name: "learn_mx"
  env: "test"
  version: "1.0.0"

server:
  gate_servers:
    - name: "gate_server_1"
      grpc_config:
        host: "localhost"
        port: 50050
      http_config:
        host: "localhost"
        port: 8080
      service_config:
        cluster_id: "cluster_1"
        region: "cn"
        zone: "guangzhou"
        weight: 1
        status: "online"
        service_prefix: "gate"
        load_balance:
          method: "round_robin"
          health_check: true
          health_check_path: "/health"
          health_check_interval: 30
          health_check_port: 8080
        log_config:
          level: "debug"
          format: "json"
          output: "both"
          file_config:
            file_name: "gate_server_1.log"
            file_path: "./logs/"
            max_size: 100
            max_backups: 3
            max_age: 30
            compress: true
  verify_servers:
    - name: "verify_server_1"
      grpc_config:
        host: "localhost"
        port: 50060
      http_config:
        host: "localhost"
        port: 8090
      service_config:
        cluster_id: "cluster_1"
        region: "cn"
        zone: "guangzhou"
        weight: 1
        status: "online"
        service_prefix: "verify"
        load_balance:
          method: "round_robin"
          health_check: true
          health_check_path: "/health"
          health_check_interval: 30
          health_check_port: 8090
        log_config:
          level: "debug"
          format: "json"
          output: "both"
          file_config:
            file_name: "verify_server_1.log"
            file_path: "./logs/"
            max_size: 100
            max_backups: 3
            max_age: 30
            compress: true
  # chat_servers:

  global_config:
    env: "test"
    default_log_level: "debug"

  



database:
  # 统一数据库类型：mysql | postgres
  type: "mysql"

  # 认证库 所有服务共享
  auth_db:
    dsn: "root:root@tcp(localhost:3308)/auth_db?charset=utf8mb4&parseTime=True&loc=Local"
    charset: "utf8mb4"
    conn_timeout: "5s"
    read_timeout: "3s"
    write_timeout: "3s"
    pool:
      max_open_conns: 50
      max_idle_conns: 10
      conn_max_lifetime: "300s"
      conn_max_idle_time: "120s"

  # # 聊天库（ChatServer）
  # chat_db:
  #   dsn: "user:password@tcp(127.0.0.1:3307)/chat_db?charset=utf8mb4&parseTime=True&loc=Local"
  #   pool:
  #     max_open_conns: 50
  #     max_idle_conns: 10
  #     conn_max_lifetime: "300s"
  #     conn_max_idle_time: "120s"

  # # 文件服务库（FileServer）
  # file_db:
  #   dsn: "user:password@tcp(127.0.0.1:3307)/file_db?charset=utf8mb4&parseTime=True&loc=Local"
  #   pool:
  #     max_open_conns: 50
  #     max_idle_conns: 10
  #     conn_max_lifetime: "300s"
  #     conn_max_idle_time: "120s"

  # # 视频/RTC库（VideoServer + RTCServer）
  # video_db:
  #   dsn: "user:password@tcp(127.0.0.1:3307)/video_db?charset=utf8mb4&parseTime=True&loc=Local"
  #   pool:
  #     max_open_conns: 50
  #     max_idle_conns: 10
  #     conn_max_lifetime: "300s"
  #     conn_max_idle_time: "120s"

  # PostgreSQL（切换时只需调整 type 和这里的 dsn）
  # auth_db:
  #   dsn: "postgres://user:password@localhost:5432/auth_db?sslmode=disable"
  # chat_db:
  #   dsn: "postgres://user:password@localhost:5432/chat_db?sslmode=disable"
  # file_db:
  #   dsn: "postgres://user:password@localhost:5432/file_db?sslmode=disable"
  # video_db:
  #   dsn: "postgres://user:password@localhost:5432/video_db?sslmode=disable"


  # 是否自动迁移（gorm）
  auto_migrate: true

redis:
  mode: "standalone"
  standalone:
    addr: "localhost:6379"
    password: ""
    db: 0
    dial_timeout: "5s"
  usage:
    session:
      addr: "localhost:6379"
      password: ""
      db: 1
      dial_timeout: "5s"
    cache:
      addr: "localhost:6379"
      password: ""
      db: 2
      dial_timeout: "5s"
  pool:
    pool_size: 10
    min_idle_conns: 5
    max_retries: 3


message_queue:
 type: "redis"
 redis:
   addr: "localhost:6379"
   password: ""
   db: 3
   dial_timeout: "5s"
 kafka:
   brokers:
    - "localhost:9092"
   username: ""
   password: ""




